.customerpricemain1{
    background: rgb(250,60,69);
    background: linear-gradient(
        90deg, #fa3c45 45%, #c5010a 29%);

}
.customerpriceall{
    padding-top: 8%;
    padding-bottom: 5%;
}
.customerpersonimg{
    width: 144px;
    height: 144px;
    border-radius: 50%;
    background-color: #E2E2EA;
}
.customerpriceleft{
    p{
        color: white;
    }
}
.customerpersoncontent{
    margin-left: 5%;
    color: white;
    h3{
        margin-bottom: 15%;
    }
    h5{
        margin-bottom: 15%;
    }
    .customerphone{
        margin-bottom: 15%;
        i{
            margin-right: 5%;
        }
        
    }
    .customermail{
        margin-bottom: 25%;
    }

}
.custombtnprice{
    border-color: white;
    background-color: transparent;
}
.btnconctcustomer{
    .custombtnprice{
     float: left;
     padding: 1% 3%;
     background-color: transparent;
     color: white;
     border-radius: 11px;
 } 
}
@media (max-width: 991px){

    
  }
  @media (max-width: 576px){
    .customerpricemain1{
        background: rgb(197,1,10);
background: linear-gradient(0deg, rgba(197,1,10,1) 50%, rgba(250,60,69,1) 50%);
    }
    .customerpriceright{
        margin-top: 5%;
    }
  }
     
  