body{
  padding-right: 0px !important;
}
.modalnone{
  display: none;
}
.headmenu {
  padding-top: 1%;
}

.logo {
  width: 90%;
}
.mainul {
  li {
    color: white;
  }
}
.round {
  margin-right: 6%;
  width: 10%;
  height: 50%;
  display: inline-block;
  background-color: black;
  border-radius: 50%;
}
.homebtn {
  button {
    font-size: 12px;
    padding: 6px 10px;
    background-color: $button-color;
    color: white;
    border-radius: 3px;
    border: none;
  }
}
.activeli {
  font-weight: bolder;
}
.mimimenu {
  text-align: center;
  background-color: black;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 999;
  .mini-menu-text {
    float: left;
  }
  .icon-right-mini {
    i {
      float: right !important;
      padding: 1%;
      border: 1px solid red;
    }
  }
}

.mimimenumain {
  display: none;
}
.mainnav {
  display: block;
}
.modal-header .close {
  margin-left: 80%;
}
.nonelog{
  display: none;
}
@media (max-width: 991px) {
  .mimimenumain {
    display: block;
  }
  .mainnav {
    display: none;
  }
}
@media (max-width: 576px) {
  .mimimenumain {
    display: block;
  }
  .mainnav {
    display: none;
  }
}
