@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,600;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

ul,
ol {
  margin: 0;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

.overflow-y {
  overflow-y: hidden;
}

.none {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.9s 0.5s ease-out;
  transition: all 0.9s 0.5s ease-out;
}

.loader1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: white;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  z-index: 1100;
}

.block {
  display: block;
}

.headmenu {
  padding-top: 1%;
}

.main {
  background-image: url(../images/home/ds5.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-menu {
  color: white;
}

.eco div {
  margin-right: 3%;
}

.eco div p {
  color: #fa3c45;
}

.homebtn1 button {
  margin-top: 20%;
  margin-bottom: 25%;
  font-size: 16px;
  padding: 6px 25px;
  background-color: #fa3c45;
  color: white;
  border-radius: 3px;
  border: none;
}

.sectionbtn2 button {
  margin-bottom: 25%;
  font-size: 16px;
  padding: 6px 25px;
  background-color: #fa3c45;
  color: white;
  border-radius: 3px;
  border: none;
}

.our-collection {
  background-color: #f7f7fcff;
  padding-top: 13%;
}

.divcolimage8 {
  position: relative;
}

.divcolimage8 img {
  width: 100%;
  height: 400px;
}

.divcolimage8 .divcontcol8 {
  position: absolute;
  top: 45%;
  left: 5%;
}

.divcolimage8 .divcontcol8 h6 {
  margin-bottom: 10%;
  color: #eb9195ff;
}

.divcolimage8 .divcontcol8 h1 {
  margin-bottom: 20%;
  color: white;
}

.divcolimage8 .divcontcol8 span {
  color: #eb9195ff;
}

.divcolimage8 .divcontcol8 .colarrow {
  margin-top: 16%;
  color: white;
}

.owl-nav {
  display: none;
}

.owl-dots {
  display: none;
}

.icon-left {
  margin-right: 6%;
}

.iconmain {
  padding: 1px 8px;
  border: 1px solid white;
  border-radius: 50%;
  color: #fa3c45;
}

.iconmain:hover {
  background-color: #fa3c45;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

.collarge .col8cont {
  color: white;
  height: 100%;
  position: relative;
}

.collarge .col8cont p,
.collarge .col8cont h6 {
  color: #eb9195ff;
}

.collarge .col8cont img {
  height: 100%;
}

.colsmall img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
}

.info p {
  margin-right: 2%;
}

.expcol6img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 544px;
}

.experiences {
  background-color: #f7f7fcff;
  padding-top: 13%;
  padding-bottom: 12%;
}

.exptext p {
  margin-top: 5%;
  color: #9a9ab0;
}

.expcount {
  margin-top: 5%;
}

.expcount #first,
.expcount #firstspan {
  color: #fa3c45;
}

.expcount h2,
.expcount p {
  margin-right: 4%;
}

.expcount p {
  font-size: 14px;
}

.choose {
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #c5010a;
}

.choose p {
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.choosecol6 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 608px;
}

.choosecircle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #e2e2ea;
}

.cusinfo {
  margin-bottom: 4%;
}

.brands {
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: center;
}

.brand .colimg {
  width: 100%;
}

.brand .colimg img {
  width: 100%;
}

.newitems {
  padding-top: 8%;
  padding-bottom: 8%;
  background-color: #e5e5e5;
}

.w211 {
  background-image: url(../images/home/w213.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 822px;
  position: relative;
  border-radius: 4px;
}

.w211 h3,
.w211 p {
  color: white;
}

.w211 h4 {
  color: #fa3c45;
}

.w211::before {
  content: "NEW";
  color: red;
  background-color: white;
  position: absolute;
  top: 2%;
  font-size: 11px;
  padding: 1px 8px;
  left: 2%;
  border-radius: 3px;
}

.cars {
  height: 406px;
  margin-bottom: 3%;
  border-radius: 4px;
}

.w213 {
  background-image: url(../images/home/w211.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.w213 h3,
.w213 p {
  color: white;
}

.w213 h4 {
  color: #fa3c45;
}

.w213::before {
  content: "NEW";
  color: red;
  background-color: white;
  position: absolute;
  top: 2%;
  font-size: 11px;
  padding: 1px 8px;
  left: 2%;
  border-radius: 3px;
}

.audirs6 {
  background-image: url(../images/home/audirs6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.audirs6 h3,
.audirs6 p {
  color: white;
}

.audirs6 h4 {
  color: #fa3c45;
}

.audirs6::before {
  content: "NEW";
  color: red;
  background-color: white;
  position: absolute;
  top: 2%;
  font-size: 11px;
  padding: 1px 8px;
  left: 2%;
  border-radius: 3px;
}

.f10 {
  background-image: url(../images/home/f10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.f10 h3,
.f10 p {
  color: white;
}

.f10 h4 {
  color: #fa3c45;
}

.f10::before {
  content: "NEW";
  color: red;
  background-color: white;
  position: absolute;
  top: 2%;
  font-size: 11px;
  padding: 1px 8px;
  left: 2%;
  border-radius: 3px;
}

.f30 {
  background-image: url(../images/home/f30.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.f30 h3,
.f30 p {
  color: white;
}

.f30 h4 {
  color: #fa3c45;
}

.f30::before {
  content: "NEW";
  color: red;
  background-color: white;
  position: absolute;
  top: 2%;
  font-size: 11px;
  padding: 1px 8px;
  left: 2%;
  border-radius: 3px;
}

.about-us {
  padding-top: 8%;
  padding-bottom: 4%;
  background-color: #e5e5e5;
}

.people-saying-right {
  background-color: white;
  padding: 6% 9%;
  height: 100%;
}

.people-saying-right h6 {
  color: #fa3c45;
}

.people-saying-right #p1 {
  color: #92929d;
}

.owcar img {
  width: 100%;
}

.ourapp {
  padding-top: 9%;
}

.ourright ul li {
  font-weight: bold;
}

.ourright ul li i {
  margin-right: 2%;
  color: #fa3c45;
}

.ourleft img {
  width: 100%;
}

#lastli {
  margin-bottom: 20%;
}

.circlemain {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu {
  color: white;
  background-color: transparent;
}

@media (max-width: 991px) {
  .mediafix img {
    height: 100%;
  }
  .w211 {
    margin-bottom: 4%;
  }
  .circlemain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 576px) {
  .w211 {
    margin-bottom: 4%;
  }
  .subscribe .col-md-3 {
    width: 100%;
  }
  .divcolimage8 {
    margin-bottom: 4%;
  }
  .circlemain {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .inputval {
    width: 100% !important;
  }
}

body {
  padding-right: 0px !important;
}

.modalnone {
  display: none;
}

.headmenu {
  padding-top: 1%;
}

.logo {
  width: 90%;
}

.mainul li {
  color: white;
}

.round {
  margin-right: 6%;
  width: 10%;
  height: 50%;
  display: inline-block;
  background-color: black;
  border-radius: 50%;
}

.homebtn button {
  font-size: 12px;
  padding: 6px 10px;
  background-color: #fa3c45;
  color: white;
  border-radius: 3px;
  border: none;
}

.activeli {
  font-weight: bolder;
}

.mimimenu {
  text-align: center;
  background-color: black;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 999;
}

.mimimenu .mini-menu-text {
  float: left;
}

.mimimenu .icon-right-mini i {
  float: right !important;
  padding: 1%;
  border: 1px solid red;
}

.mimimenumain {
  display: none;
}

.mainnav {
  display: block;
}

.modal-header .close {
  /* margin-top: -2px; */
  margin-left: 80%;
}

.nonelog {
  display: none;
}

@media (max-width: 991px) {
  .mimimenumain {
    display: block;
  }
  .mainnav {
    display: none;
  }
}

@media (max-width: 576px) {
  .mimimenumain {
    display: block;
  }
  .mainnav {
    display: none;
  }
}

footer {
  background-color: #c5010a;
  padding-top: 7.5%;
  padding-bottom: 2.5%;
}

footer .footer-content .footer-top .footer-top-left .footer-top-first .footimg-div {
  width: 40%;
  margin-top: -10%;
  margin-bottom: 2.5%;
}

footer .footer-content .footer-top .footer-top-left .footer-top-first .footimg-div img {
  width: 100%;
}

footer .footer-content .footer-top .footer-top-left .footer-top-first p {
  color: white;
  padding-right: 38%;
}

footer .footer-content .footer-top .footer-top-left .footer-top-second h6 {
  color: white;
  font-weight: 600;
  margin-bottom: 7.5%;
}

footer .footer-content .footer-top .footer-top-left .footer-top-second ul li a {
  display: inline-block;
  color: white;
}

footer .footer-content .footer-top .footer-top-left .footer-top-second ul li:not(:last-child) {
  margin-bottom: 5%;
}

footer .footer-content .footer-top .footer-top-left .footer-top-third h6 {
  color: white;
  font-weight: 600;
  margin-bottom: 7.5%;
}

footer .footer-content .footer-top .footer-top-left .footer-top-third ul li a {
  display: inline-block;
  color: white;
}

footer .footer-content .footer-top .footer-top-left .footer-top-third ul li:not(:last-child) {
  margin-bottom: 5%;
}

footer .footer-content .footer-top .footer-top-left .footer-top-fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer-content .footer-top .footer-top-left .footer-top-fourth li {
  color: white;
}

footer .footer-content .footer-top .footer-top-left .footer-top-fourth li:not(:last-child) {
  margin-bottom: 5%;
}

footer .footer-content .footer-bottom {
  padding-top: 5%;
}

footer .footer-content .footer-bottom p {
  color: white;
}

@media (max-width: 991px) {
  .footer-top-fourth {
    margin-top: 15%;
  }
}

@media (max-width: 576px) {
  .footer-top-fourth {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .footer-top-second {
    margin-top: 8%;
  }
  .footer-top-third {
    margin-top: 8%;
  }
}

.subscribe {
  padding-top: 9%;
  padding-bottom: 9%;
  background-color: #e5e5e5;
}

.subscribe label {
  font-weight: bold;
}

.subscribe .col-md-3 {
  width: 23%;
}

.subs-email {
  width: 70%;
}

.buttonsubs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding: 7px 10px;
  background-color: #fa3c45;
  color: white;
  border-radius: 7px;
}

.loader {
  width: 11.7em;
  height: 4.2em;
  font-size: 20px;
  position: relative;
  color: black;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.car {
  position: absolute;
  width: inherit;
  height: 2em;
  background-color: currentColor;
  top: 1.5em;
  border-radius: 0 5em 1em 0 / 0 4em 1em 0;
  -webkit-animation: run 0.25s linear infinite;
          animation: run 0.25s linear infinite;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

@-webkit-keyframes run {
  0% {
    -webkit-transform: translate(0.2em, 0.1em);
            transform: translate(0.2em, 0.1em);
  }
  20% {
    -webkit-transform: translate(0.1em, 0.2em);
            transform: translate(0.1em, 0.2em);
  }
  40% {
    -webkit-transform: translate(0.1em, -0.1em);
            transform: translate(0.1em, -0.1em);
  }
  60% {
    -webkit-transform: translate(-0.1em, 0.2em);
            transform: translate(-0.1em, 0.2em);
  }
  80% {
    -webkit-transform: translate(-0.1em, 0.1em);
            transform: translate(-0.1em, 0.1em);
  }
  100% {
    -webkit-transform: translate(0.2em, 0.1em);
            transform: translate(0.2em, 0.1em);
  }
}

@keyframes run {
  0% {
    -webkit-transform: translate(0.2em, 0.1em);
            transform: translate(0.2em, 0.1em);
  }
  20% {
    -webkit-transform: translate(0.1em, 0.2em);
            transform: translate(0.1em, 0.2em);
  }
  40% {
    -webkit-transform: translate(0.1em, -0.1em);
            transform: translate(0.1em, -0.1em);
  }
  60% {
    -webkit-transform: translate(-0.1em, 0.2em);
            transform: translate(-0.1em, 0.2em);
  }
  80% {
    -webkit-transform: translate(-0.1em, 0.1em);
            transform: translate(-0.1em, 0.1em);
  }
  100% {
    -webkit-transform: translate(0.2em, 0.1em);
            transform: translate(0.2em, 0.1em);
  }
}

.car::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 0.6em solid transparent;
  top: -0.5em;
  border-left-width: 0;
  border-right-color: currentColor;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.body {
  position: absolute;
  width: 7.5em;
  height: 3.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.4em solid;
  top: -1.5em;
  left: 1.2em;
  border-radius: 3em 4.5em 0 0 / 3em 4em 0 0;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.body::before {
  content: "";
  position: absolute;
  width: 3.5em;
  height: inherit;
  background-color: currentColor;
  border-top-left-radius: inherit;
  top: -0.4em;
  left: -0.4em;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.wheels::before,
.wheels::after {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 2.6em;
  height: 2.6em;
  background-color: #333;
  border-radius: 50%;
  bottom: -1em;
  border: 0.3em solid #333;
  background-image: linear-gradient(135deg, transparent 45%, currentColor 46%, currentColor 54%, transparent 55%), linear-gradient(90deg, transparent 45%, currentColor 46%, currentColor 54%, transparent 55%), linear-gradient(45deg, transparent 45%, currentColor 46%, currentColor 54%, transparent 55%), linear-gradient(0deg, transparent 45%, currentColor 46%, currentColor 54%, transparent 55%), radial-gradient(currentColor 29%, transparent 30%, transparent 50%, currentColor 51%);
  -webkit-animation: rotating 0.5s linear infinite;
          animation: rotating 0.5s linear infinite;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.wheels::before {
  left: 1.2em;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.wheels::after {
  right: 0.8em;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

@-webkit-keyframes rotating {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes rotating {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.strikes {
  position: absolute;
  width: 1em;
  height: inherit;
  left: -1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.strikes span {
  height: 0.1em;
  background-color: black;
  -webkit-animation: drift 0.2s linear infinite;
          animation: drift 0.2s linear infinite;
  -webkit-animation-delay: calc(var(--n) * -0.05s);
          animation-delay: calc(var(--n) * -0.05s);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

@-webkit-keyframes drift {
  from {
    -webkit-transform: translate(3.5em);
            transform: translate(3.5em);
  }
  to {
    -webkit-transform: translate(-8em);
            transform: translate(-8em);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
}

@keyframes drift {
  from {
    -webkit-transform: translate(3.5em);
            transform: translate(3.5em);
  }
  to {
    -webkit-transform: translate(-8em);
            transform: translate(-8em);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
}

.strikes span:nth-child(1) {
  --n: 1;
}

.strikes span:nth-child(2) {
  --n: 2;
}

.strikes span:nth-child(3) {
  --n: 3;
}

.strikes span:nth-child(4) {
  --n: 4;
}

.strikes span:nth-child(5) {
  --n: 5;
}

.exploremain1 {
  background-color: #c5010a;
}

.exploremain {
  background-color: #e5e5e5;
}

.explore {
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
}

.numbers {
  background-color: #e5e5e5;
}

.home-inventory {
  padding-top: 8%;
  background-color: #e5e5e5;
}

.inventoryinp {
  margin-bottom: 1%;
}

.btnhome {
  background-color: #fa3c45;
  border-color: transparent;
}

.btnhome:hover {
  background-color: #fa3c45;
}

#all {
  color: #fa3c45;
}

.newused {
  color: #9a9ab0;
}

.xett::before {
  content: "";
  height: 2px;
  width: 100%;
  display: inline-block;
  background-color: #e1e1e1;
}

.teslaimg {
  width: 100%;
  height: 200px;
}

.teslaimg img {
  -o-object-fit: cover;
     object-fit: cover;
}

.pcontent p {
  margin-right: 4%;
}

.p1ch p {
  font-size: 12px;
}

.combo {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.details {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.details button {
  padding: 2% 15%;
  background-color: #c5010a;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  border-radius: 3px;
  border: none;
}

.teslaimg img {
  width: 100%;
  height: 100%;
}

#marka {
  color: #c5010a;
}

.pricechoose {
  color: #fa3c45;
}

.advertesla {
  padding-top: 45%;
  text-align: center;
  height: 560px;
  background-color: #c5010a;
  border-radius: 3px;
  color: white;
}

.btnadver button {
  margin-top: 15%;
  padding: 2% 5%;
  background-color: #c5010a;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  border-radius: 5px;
  border-color: white;
}

.teslacontact {
  padding-top: 25%;
  text-align: center;
  height: 320px;
  background-color: white;
  border-radius: 3px;
  color: white;
}

.teslacontact h3 {
  color: black;
}

.teslacontact h5 {
  color: #92929d;
}

.btnconct {
  text-align: center;
}

.btnconct button {
  margin-top: 15%;
  padding: 2% 8%;
  background-color: #c5010a;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  border-radius: 5px;
  border: none;
}

#firstspan {
  background-color: #c5010a;
  padding: 1% 2%;
  color: white;
  margin-right: 5%;
  text-align: center;
}

.ededler {
  padding: 1% 2%;
  color: #92929d;
  text-align: center;
  margin-right: 5%;
}

@media (max-width: 991px) {
  .explore {
    padding-top: 10%;
  }
  .allitems {
    margin-top: 3%;
  }
}

@media (max-width: 576px) {
  .explore {
    padding-top: 12%;
  }
  .btnhome {
    margin-top: 3%;
    margin-left: 30%;
  }
  .allitems {
    margin-top: 6%;
  }
}

.teslasmain1 {
  background-color: #c5010a;
}

.teslas {
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
}

.teslainfo {
  padding-top: 8%;
  background-color: #e5e5e5;
}

.carprice {
  padding-left: 5%;
  color: #c5010a;
}

.maincarimages {
  height: 558px;
}

.maincarimages img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bottomcarimages {
  height: 240px;
  margin-top: 2%;
  margin-bottom: 5%;
}

.bottomcarimages img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carsdescription p {
  color: #92929d;
}

.teslayoutube {
  height: 440px;
  position: relative;
  background-image: url(../images/teslacars/teslayoutube.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.playicon {
  position: absolute;
  left: 48%;
  top: 43%;
  font-size: 2.5rem;
  color: #c5010a;
  cursor: pointer;
}

.collogo {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.collogo img {
  height: 85%;
}

.carmil {
  margin-left: 3%;
  color: #92929d;
}

.xett1::before {
  content: "";
  height: 2px;
  width: 100%;
  -webkit-transform: translateY(-17px);
          transform: translateY(-17px);
  display: inline-block;
  background-color: #e1e1e1;
}

.checkclass i {
  color: #fa3c45;
  font-size: 1.3rem;
}

.colfeattext {
  color: #92929d;
}

.teslacontact1 {
  padding-top: 25%;
  text-align: center;
  height: 560px;
  background-color: white;
  border-radius: 3px;
  color: white;
}

.teslacontact1 h3 {
  color: black;
}

.teslacontact1 h5 {
  color: #92929d;
}

.btnconct .teslabtn {
  float: left;
  margin-left: 1%;
  padding: 4% 4%;
  background-color: #fa3c45;
}

.selectinp {
  border-color: #fa3c45;
  padding: 2% 3% 2% 3%;
  border-radius: 9px;
}

.modelfixingtesla {
  padding-top: 4%;
}

.teslacustomer {
  margin-top: 4%;
  background-color: white;
  padding-top: 9%;
  padding-bottom: 6%;
}

.teslacustomer h5 {
  margin-right: 44%;
  margin-bottom: 8%;
}

.teslacustomer .customerimg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #e2e2ea;
  margin-left: 39%;
  margin-bottom: 2%;
}

.viewprof {
  margin-top: 3%;
  padding: 3% 5%;
  background-color: #fa3c45;
  color: white;
  border-radius: 8px;
  border: none;
}

.featuredcars {
  margin-top: 4%;
  background-color: white;
  padding-top: 9%;
  padding-bottom: 6%;
  padding-left: 8%;
}

.featuredcars h5 {
  margin-bottom: 8%;
}

#chooseonefeat {
  color: #fa3c45;
}

.featuredimg {
  width: 80px;
  height: 80px;
  background-color: #e2e2ea;
  border-radius: 4px;
}

.modelstags {
  margin-top: 4%;
  background-color: white;
  padding-top: 9%;
  padding-bottom: 6%;
  padding-left: 8%;
  padding-right: 8%;
}

.modelsele {
  padding: 1% 6%;
  color: #fa3c45;
  border: 1px solid #fa3c45;
  display: inline-block;
  margin-right: 3%;
  margin-bottom: 4%;
  border-radius: 20px;
}

.newcar {
  background-image: url(../images/home/e60.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.newcar h3,
.newcar p {
  color: white;
}

.newcar h4 {
  color: #fa3c45;
}

.newcar::before {
  content: "NEW";
  color: red;
  background-color: white;
  position: absolute;
  top: 2%;
  font-size: 11px;
  padding: 1px 8px;
  left: 2%;
  border-radius: 3px;
}

.fordc {
  background-image: url(../images/home/w213.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.fordc h3,
.fordc p {
  color: white;
}

.fordc h4 {
  color: #fa3c45;
}

.fordc::before {
  content: "NEW";
  color: red;
  background-color: white;
  position: absolute;
  top: 2%;
  font-size: 11px;
  padding: 1px 8px;
  left: 2%;
  border-radius: 3px;
}

.santafe {
  background-image: url(../images/home/e39.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.santafe h3,
.santafe p {
  color: white;
}

.santafe h4 {
  color: #fa3c45;
}

.santafe::before {
  content: "NEW";
  color: red;
  background-color: white;
  position: absolute;
  top: 2%;
  font-size: 11px;
  padding: 1px 8px;
  left: 2%;
  border-radius: 3px;
}

.w210 {
  background-image: url(../images/home/w210.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.w210 h3,
.w210 p {
  color: white;
}

.w210 h4 {
  color: #fa3c45;
}

.w210::before {
  content: "NEW";
  color: red;
  background-color: white;
  position: absolute;
  top: 2%;
  font-size: 11px;
  padding: 1px 8px;
  left: 2%;
  border-radius: 3px;
}

.display-inline {
  display: inline-block;
}

@media (max-width: 991px) {
  .teslas {
    padding-top: 9%;
  }
  .carprice {
    padding-left: 0%;
  }
}

@media (max-width: 576px) {
  .teslas {
    padding-top: 14%;
  }
  .carprice {
    padding-left: 16%;
  }
}

.playicon a {
  color: #c5010a;
}

.customerpricemain1 {
  background: #fa3c45;
  background: -webkit-gradient(linear, left top, right top, color-stop(45%, #fa3c45), color-stop(29%, #c5010a));
  background: linear-gradient(90deg, #fa3c45 45%, #c5010a 29%);
}

.customerpriceall {
  padding-top: 8%;
  padding-bottom: 5%;
}

.customerpersonimg {
  width: 144px;
  height: 144px;
  border-radius: 50%;
  background-color: #e2e2ea;
}

.customerpriceleft p {
  color: white;
}

.customerpersoncontent {
  margin-left: 5%;
  color: white;
}

.customerpersoncontent h3 {
  margin-bottom: 15%;
}

.customerpersoncontent h5 {
  margin-bottom: 15%;
}

.customerpersoncontent .customerphone {
  margin-bottom: 15%;
}

.customerpersoncontent .customerphone i {
  margin-right: 5%;
}

.customerpersoncontent .customermail {
  margin-bottom: 25%;
}

.custombtnprice {
  border-color: white;
  background-color: transparent;
}

.btnconctcustomer .custombtnprice {
  float: left;
  padding: 1% 3%;
  background-color: transparent;
  color: white;
  border-radius: 11px;
}

.btncalc {
  text-align: center;
}

.btncalcmain {
  float: left;
  padding: 1% 2%;
  background-color: #fa3c45;
  color: white;
  border: none;
  border-radius: 5px;
}

.loan-calculator {
  background-color: white;
  padding: 8% 5% 3% 5%;
}

.inpcalc {
  border-color: #fa3c45;
  padding: 2% 3% 2% 3%;
  border-radius: 9px;
}

@media (max-width: 991px) {
  .customerpriceall {
    padding-top: 12%;
  }
}

@media (max-width: 576px) {
  .customerpricemain1 {
    background: #c5010a;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #c5010a), color-stop(50%, #fa3c45));
    background: linear-gradient(0deg, #c5010a 50%, #fa3c45 50%);
  }
  .customerpriceright {
    margin-top: 5%;
  }
  .customerpriceall {
    padding-top: 12%;
  }
}

.creditmain {
  margin-top: 5%;
  margin-bottom: 5%;
}

.credityoutube {
  height: 440px;
  position: relative;
  background-image: url(../images/credit/265562.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.playicon1 {
  position: absolute;
  left: 48%;
  top: 43%;
  font-size: 2.5rem;
  color: #c5010a;
  cursor: pointer;
}

.playicon1 a {
  color: #c5010a;
}

.btnprm {
  padding: 1% 2%;
  background-color: #fa3c45;
  border-radius: 4px;
  color: white;
  display: inline-block;
  border: none;
}

.btnresfree {
  padding: 1% 2%;
  background-color: transparent;
  border-radius: 4px;
  color: #fa3c45;
  display: inline-block;
  border: 1px solid #fa3c45;
  margin-left: 2%;
}
