@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.headmenu {
  padding-top: 1%;
}

.logo {
  width: 90%;
}

.mainul li {
  margin-right: 4%;
  color: white;
}

.round {
  margin-right: 6%;
  width: 10%;
  height: 50%;
  display: inline-block;
  background-color: black;
  border-radius: 50%;
}

.homebtn button {
  font-size: 12px;
  padding: 6px 10px;
  background-color: #fa3c45;
  color: white;
  border-radius: 3px;
  border: none;
}

.main {
  background-image: url(../images/home/ds5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-menu {
  color: white;
}

.eco div {
  margin-right: 3%;
}

.eco div p {
  color: #fa3c45;
}

.homebtn1 button {
  margin-top: 20%;
  margin-bottom: 25%;
  font-size: 16px;
  padding: 6px 25px;
  background-color: #fa3c45;
  color: white;
  border-radius: 3px;
  border: none;
}

.sectionbtn2 button {
  margin-bottom: 25%;
  font-size: 16px;
  padding: 6px 25px;
  background-color: #fa3c45;
  color: white;
  border-radius: 3px;
  border: none;
}
