@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.overflow-y {
  overflow-y: hidden;
}

.none {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.9s 0.5s ease-out;
  transition: all 0.9s 0.5s ease-out;
}

.loader1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: white;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  z-index: 999;
}

.block {
  display: block;
}

.headmenu {
  padding-top: 1%;
}

.logo {
  width: 90%;
}

.mainul li {
  margin-right: 4%;
  color: white;
}

.round {
  margin-right: 6%;
  width: 10%;
  height: 50%;
  display: inline-block;
  background-color: black;
  border-radius: 50%;
}

.homebtn button {
  font-size: 12px;
  padding: 6px 10px;
  background-color: #fa3c45;
  color: white;
  border-radius: 3px;
  border: none;
}

.main {
  background-image: url(../images/home/ds5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-menu {
  color: white;
}

.eco div {
  margin-right: 3%;
}

.eco div p {
  color: #fa3c45;
}

.homebtn1 button {
  margin-top: 20%;
  margin-bottom: 25%;
  font-size: 16px;
  padding: 6px 25px;
  background-color: #fa3c45;
  color: white;
  border-radius: 3px;
  border: none;
}

.sectionbtn2 button {
  margin-bottom: 25%;
  font-size: 16px;
  padding: 6px 25px;
  background-color: #fa3c45;
  color: white;
  border-radius: 3px;
  border: none;
}

.loader {
  width: 11.7em;
  height: 4.2em;
  font-size: 20px;
  position: relative;
  color: black;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.car {
  position: absolute;
  width: inherit;
  height: 2em;
  background-color: currentColor;
  top: 1.5em;
  border-radius: 0 5em 1em 0 / 0 4em 1em 0;
  -webkit-animation: run 0.25s linear infinite;
          animation: run 0.25s linear infinite;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

@-webkit-keyframes run {
  0% {
    -webkit-transform: translate(0.2em, 0.1em);
            transform: translate(0.2em, 0.1em);
  }
  20% {
    -webkit-transform: translate(0.1em, 0.2em);
            transform: translate(0.1em, 0.2em);
  }
  40% {
    -webkit-transform: translate(0.1em, -0.1em);
            transform: translate(0.1em, -0.1em);
  }
  60% {
    -webkit-transform: translate(-0.1em, 0.2em);
            transform: translate(-0.1em, 0.2em);
  }
  80% {
    -webkit-transform: translate(-0.1em, 0.1em);
            transform: translate(-0.1em, 0.1em);
  }
  100% {
    -webkit-transform: translate(0.2em, 0.1em);
            transform: translate(0.2em, 0.1em);
  }
}

@keyframes run {
  0% {
    -webkit-transform: translate(0.2em, 0.1em);
            transform: translate(0.2em, 0.1em);
  }
  20% {
    -webkit-transform: translate(0.1em, 0.2em);
            transform: translate(0.1em, 0.2em);
  }
  40% {
    -webkit-transform: translate(0.1em, -0.1em);
            transform: translate(0.1em, -0.1em);
  }
  60% {
    -webkit-transform: translate(-0.1em, 0.2em);
            transform: translate(-0.1em, 0.2em);
  }
  80% {
    -webkit-transform: translate(-0.1em, 0.1em);
            transform: translate(-0.1em, 0.1em);
  }
  100% {
    -webkit-transform: translate(0.2em, 0.1em);
            transform: translate(0.2em, 0.1em);
  }
}

.car::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 0.6em solid transparent;
  top: -0.5em;
  border-left-width: 0;
  border-right-color: currentColor;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.body {
  position: absolute;
  width: 7.5em;
  height: 3.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.4em solid;
  top: -1.5em;
  left: 1.2em;
  border-radius: 3em 4.5em 0 0 / 3em 4em 0 0;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.body::before {
  content: '';
  position: absolute;
  width: 3.5em;
  height: inherit;
  background-color: currentColor;
  border-top-left-radius: inherit;
  top: -0.4em;
  left: -0.4em;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.wheels::before,
.wheels::after {
  content: '';
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 2.6em;
  height: 2.6em;
  background-color: #333;
  border-radius: 50%;
  bottom: -1em;
  border: 0.3em solid #333;
  background-image: linear-gradient(135deg, transparent 45%, currentColor 46%, currentColor 54%, transparent 55%), linear-gradient(90deg, transparent 45%, currentColor 46%, currentColor 54%, transparent 55%), linear-gradient(45deg, transparent 45%, currentColor 46%, currentColor 54%, transparent 55%), linear-gradient(0deg, transparent 45%, currentColor 46%, currentColor 54%, transparent 55%), radial-gradient(currentColor 29%, transparent 30%, transparent 50%, currentColor 51%);
  -webkit-animation: rotating 0.5s linear infinite;
          animation: rotating 0.5s linear infinite;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.wheels::before {
  left: 1.2em;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.wheels::after {
  right: 0.8em;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

@-webkit-keyframes rotating {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes rotating {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.strikes {
  position: absolute;
  width: 1em;
  height: inherit;
  left: -1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.strikes span {
  height: 0.1em;
  background-color: black;
  -webkit-animation: drift 0.2s linear infinite;
          animation: drift 0.2s linear infinite;
  -webkit-animation-delay: calc(var(--n) * -0.05s);
          animation-delay: calc(var(--n) * -0.05s);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

@-webkit-keyframes drift {
  from {
    -webkit-transform: translate(3.5em);
            transform: translate(3.5em);
  }
  to {
    -webkit-transform: translate(-8em);
            transform: translate(-8em);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
}

@keyframes drift {
  from {
    -webkit-transform: translate(3.5em);
            transform: translate(3.5em);
  }
  to {
    -webkit-transform: translate(-8em);
            transform: translate(-8em);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
}

.strikes span:nth-child(1) {
  --n: 1;
}

.strikes span:nth-child(2) {
  --n: 2;
}

.strikes span:nth-child(3) {
  --n: 3;
}

.strikes span:nth-child(4) {
  --n: 4;
}

.strikes span:nth-child(5) {
  --n: 5;
}

.our-collection {
  background-color: #F7F7FCFF;
  padding-top: 13%;
}

.icon-left {
  margin-right: 6%;
}

.iconmain {
  padding: 1px 8px;
  border: 1px solid white;
  border-radius: 50%;
  color: #fa3c45;
}

.iconmain:hover {
  background-color: #fa3c45;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

.collarge .col8cont {
  height: 400px;
  background-color: #D0131CFF;
  padding: 0% 0% 10% 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
}

.collarge .col8cont p, .collarge .col8cont h6 {
  color: #EB9195FF;
}

.colsmall img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
}

.info p {
  margin-right: 2%;
}

.expcol6img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 544px;
}

.experiences {
  background-color: #F7F7FCFF;
  padding-top: 13%;
  padding-bottom: 12%;
}

.exptext p {
  margin-top: 5%;
  color: #9A9AB0;
}

.expcount {
  margin-top: 5%;
}

.expcount #first, .expcount #firstspan {
  color: #fa3c45;
}

.expcount h2, .expcount p {
  margin-right: 4%;
}

.expcount p {
  font-size: 14px;
}

.choose {
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #C5010A;
}

.choose p {
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.choosecol6 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 608px;
}

.choosecircle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #E2E2EA;
}

.cusinfo {
  margin-bottom: 4%;
}

.brands {
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: center;
}

.brand .colimg {
  width: 100%;
}

.brand .colimg img {
  width: 100%;
}

.newitems {
  padding-top: 8%;
  padding-bottom: 8%;
  background-color: #E5E5E5;
}

.w211 {
  background-image: url(../images/home/w213.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 830px;
  position: relative;
}

.w211 h3, .w211 p {
  color: white;
}

.w211 h4 {
  color: #fa3c45;
}

.w211::before {
  content: "NEW";
  color: red;
  background-color: white;
  position: absolute;
  top: 2%;
  font-size: 11px;
  padding: 1px 8px;
  left: 2%;
  border-radius: 3px;
}

.cars {
  height: 406px;
  margin-top: 3%;
}

.w213 {
  background-image: url(../images/home/w211.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.w213 h3, .w213 p {
  color: white;
}

.w213 h4 {
  color: #fa3c45;
}

.w213::before {
  content: "NEW";
  color: red;
  background-color: white;
  position: absolute;
  top: 2%;
  font-size: 11px;
  padding: 1px 8px;
  left: 2%;
  border-radius: 3px;
}

.audirs6 {
  background-image: url(../images/home/audirs6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.audirs6 h3, .audirs6 p {
  color: white;
}

.audirs6 h4 {
  color: #fa3c45;
}

.audirs6::before {
  content: "NEW";
  color: red;
  background-color: white;
  position: absolute;
  top: 2%;
  font-size: 11px;
  padding: 1px 8px;
  left: 2%;
  border-radius: 3px;
}

.f10 {
  background-image: url(../images/home/f10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.f10 h3, .f10 p {
  color: white;
}

.f10 h4 {
  color: #fa3c45;
}

.f10::before {
  content: "NEW";
  color: red;
  background-color: white;
  position: absolute;
  top: 2%;
  font-size: 11px;
  padding: 1px 8px;
  left: 2%;
  border-radius: 3px;
}

.f30 {
  background-image: url(../images/home/f30.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.f30 h3, .f30 p {
  color: white;
}

.f30 h4 {
  color: #fa3c45;
}

.f30::before {
  content: "NEW";
  color: red;
  background-color: white;
  position: absolute;
  top: 2%;
  font-size: 11px;
  padding: 1px 8px;
  left: 2%;
  border-radius: 3px;
}
